*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(130deg, #b939e0, #450162);
}

li::first-letter {
    text-transform: capitalize;
}

li {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#empty-msg,
.title {
    font-weight: 600;
}

#main-container{
    width: 600px !important;
}

#error-msg {
    display: none;
}

#empty-msg {
    font-size: 1.5rem;
    color: #acacac;
}

.delete-btn {
    font-size: 1.2rem;
    background: none;
    color: #bababa;
}

.completed {
    text-decoration: line-through;
}

@media screen and (max-width: 750px) {
    #main-container {
        width: 95% !important;
    }
}